<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wallcology 2015</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1 user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link href="../bower_components/polymer/polymer.html" rel="import">


    <link rel="import" href="../bower_components/wallcology-selector/demo/test-app.html">
    <link rel="import" href="../bower_components/wallcology-selector/wallcology-selector.html">
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/jquery-toastmessage-plugin/src/main/resources/css/jquery.toastmessage.css" rel="stylesheet">

    <link href='///fonts.googleapis.com/css?family=Open+Sans:300italic,400,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link href="css/research.css" rel="stylesheet">

<!--     <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon"> -->

    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../node_modules/underscore/underscore.js"></script>
    <script type="text/javascript" src="../node_modules/backbone/backbone.js"></script>

    <script type="text/javascript" src="../node_modules/backbone.drowsy.encorelab/backbone.drowsy.js"></script>
    <script type="text/javascript" src="../node_modules/backbone.drowsy.encorelab/wakeful.js"></script>

    <script type="text/javascript" src="../bower_components/jquery-toastmessage-plugin/src/main/javascript/jquery.toastmessage.js"></script>
    <script type="text/javascript" src="../bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="../bower_components/purl/purl.js"></script>

    <!-- Gugo's speedhack pubsub librarylet -->
    <script type="text/javascript" src="../shared/js/mqttws31.js"></script>

    <script type="text/javascript" src="../shared/js/skeletor.js"></script>
    <script type="text/javascript" src="../shared/js/model.js"></script>
    <script type="text/javascript" src="../shared/js/rollcall.js"></script>

    <script type="text/javascript" src="js/research.js"></script>
    <script type="text/javascript" src="js/research.view.js"></script>

    <!-- Templates -->
    <script id="text-note-template" type="text/template">
        <div class="note" data-id=<%= id %>>
            <h3 class="note-title" data-id=<%= id %>><%= title %></h3>
            <div class="note-body" data-id=<%= id %>><%= body %></div>
            <div class="note-author" data-id=<%= id %>><%= author %></div>
        </div>
    </script>

    <script id="photo-note-template" type="text/template">
        <div class="note" data-id=<%= id %>>
            <h3 class="note-title" data-id=<%= id %>><%= title %></h3>
            <div class="note-url" data-id=<%= id %>>
                <img src=<%= url %> data-id=<%= id %> />
            </div>
            <div class="note-author" data-id=<%= id %>><%= author %></div>
        </div>
    </script>

    <script id="video-note-template" type="text/template">
        <div class="note" data-id=<%= id %>>
            <h3 class="note-title" data-id=<%= id %>><%= title %></h3>
            <div class="note-url" data-id=<%= id %>>
                <i class="fa fa-5x fa-file-video-o" data-id=<%= id %>></i>
            </div>
            <div class="note-author" data-id=<%= id %>><%= author %></div>
        </div>
    </script>
    <!-- <video src=<%= url %> data-id=<%= id %>></video> -->

    <script id="review-details-template" type="text/template" class="review">
        <div class="row">
                <div class="side-nav col-xs-1 col-xs-offset-0 col-sm-2 col-sm-offset-1">
                    <button id="return-to-overview-btn" class="fa fa-arrow-left fa-3x btn-circular"></button>
                </div>
            </div>
            <div class="row">
                <div class="inner-wrapper col-xs-9 col-xs-offset-2">
                    <% if (proposal.review_published) { %>
                        <h3 id="review-details-title"><b><%= name %></b> has already been reviewed by <i><%= proposal.reviewer %></i>. You may view it, but not make any changes</h3>
                    <% } else { %>
                        <h3 id="review-details-title">You are currently reviewing <b><%= name %></b>. Read each section of your peer’s proposal, and add comments.</h3>
                    <% } %>
                    <h3 name="research_question"><%= proposal.research_question %></h3>
                    <textarea class="input-field <%= (proposal.review_published || write_lock) ? 'disabled' : '' %>" data-nested="proposal" name="review_research_question" placeholder="Does this research question make sense? Do you have any suggestions of how it could be improved?"><%= proposal.review_research_question %></textarea>
                    <h3 name="need_to_knows"><%= proposal.need_to_knows %></h3>
                    <textarea class="input-field <%= (proposal.review_published || write_lock) ? 'disabled' : '' %> " data-nested="proposal" name="review_need_to_knows" placeholder="Is there anything else that you think your peers should consider?"><%= proposal.review_need_to_knows %></textarea>
                    <% if (proposal.review_published === false && write_lock === false) { %>
                        <button id="publish-review-btn" class="modify-proposal-btn btn-circular fa fa-check fa-3x pull-right"></button>
                        <button id="cancel-review-btn" class="modify-proposal-btn btn-circular fa fa-times fa-3x pull-right"></button>
                    <% } %>
                </div>
            </div>
        </div>
    </script>

    <script id="chunk-list-template" type="text/template">
        <div class='btn chunk-edit-btn type-<%= type %>' data-id='<%= _id %>'><%= body %></div>
    </script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>
                <a class="navbar-brand brand" href="#">Loading...</a>
            </div>

            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav top-navigation">
                    <!-- <li id="proposal-nav-btn" class="goto-proposal-btn top-nav-btn"><a href="#">Proposal</a></li> -->
                    <li id="notes-nav-btn" class="goto-notes-btn top-nav-btn"><a href="#">Notes</a></li>
                    <li id="relationships-nav-btn" class="goto-relationships-btn top-nav-btn"><a href="#">Food Web</a></li>
                    <li id="chi-test-nav-btn" class="goto-chi-test-btn top-nav-btn"><a href="#">Chi-test</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active username-display"><a></a></li>
                    <li id="logout-user" class="active logout-user"><a>Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="lock-screen" class="hidden">
        <img src="img/lock-icon-white.png" id="lock-img"/>
    </div>

    <!-- ToDo Screen -->
    <div id="todo-screen" class="container-fluid user-screen">
        <div class="row">
            <div class="inner-wrapper col-xs-8 col-xs-offset-2">
                <h2>What would you like to work on today?</h2>
                <!-- <button class="goto-proposal-btn todo-btn btn btn-base">PROPOSAL</button> -->
                <button class="goto-notes-btn todo-btn btn btn-base">NOTES</button>
                <button class="goto-relationships-btn todo-btn btn btn-base">FOOD WEB</button>
                <!-- <button class="goto-review-btn todo-btn btn btn-base">REVIEW</button> -->
            </div>
        </div>
    </div>

    <!-- Notes Read Screen -->
    <div id="notes-read-screen" class="container-fluid user-screen notes">
        <div class="row">
            <div class="side-nav col-xs-1 col-xs-offset-0 col-sm-2 col-sm-offset-1">
                <button id="nav-write-btn" class="fa fa-pencil fa-3x btn-circular"></button>
            </div>
        </div>
        <div class="row">
            <div class="inner-wrapper col-xs-9 col-xs-offset-2">
                <div class="selector-container">
                    <span class="species-selector-container editable">SPECIES SELECTOR GOES HERE</span>
                    <span class="note-type-selector-container pull-right editable">
                        <select class="note-type-selector">
                            <!-- filled by view -->
                        </select>
                    </span>
                </div>
                <ul class="row notes-list"></ul>
                <!-- gets filled by the readScreenView -->
            </div>
        </div>
    </div>

    <!-- Notes Write Screen -->
    <div id="notes-write-screen" class="container-fluid user-screen notes">
        <div class="row">
            <div class="side-nav col-xs-1 col-xs-offset-0  col-sm-2 col-sm-offset-1">
                <button class="nav-read-btn fa fa-arrow-left fa-3x btn-circular"></button>
            </div>
            <div class="inner-wrapper col-xs-9 col-xs-offset-2">
                <div class="selector-container">
                    <span class="species-selector-container editable pull-left"><template is="dom-bind" id="app"><test-app></test-app></template></span>
                    <span class="note-type-selector-container pull-right editable">
                        <select class="note-type-selector">
                            <!-- filled by view -->
                        </select>
                    </span>
                </div>
                <textarea id="note-title-input" class="input-field editable" name="title" placeholder="Untitled Note"></textarea>
                <div id="note-body-container">
                    <i id="lightbulb-icon" class="fa fa-lightbulb-o fa-4x editable"></i>
                    <textarea id="note-body-input" class="input-field editable" name="body"></textarea>
                </div>

                <div id="note-media-container"></div>

                <div id="note-btn-container" class="editable">
                    <div class="photo-wrapper">
                       <label for="photo-file" class="upload-icon camera-icon-label"><img src="img/camera-icon.png" class="upload-icon camera-icon img-responsive" alt="camera icon" /></label>
                       <input id="photo-file" class="upload-icon" type="file" name="file" accept=".jpg,.gif,.jpeg,.png,.mp4,.m4v,.mov" />
                       <i id="photo-upload-spinner" class="fa fa-spinner fa-pulse hidden"></i>
                    </div>
                    <button class="publish-note-btn btn-circular fa fa-check fa-3x pull-right"></button>
                </div>
            </div>
        </div>

        <!-- putting the modal in here since it's conceptually part of the view (collection, click listeners etc as well) -->
        <div id="sentence-starter-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="true">
            <div class="table">
                <div class="table-cell">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Select a sentence starter to use in your note</h4>
                            </div>
                            <div class="modal-body">
                                <!-- filled in the view updateNoteType -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="photo-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="true">
            <div class="table">
                <div class="table-cell">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- NB: not supported by Safari or IE. And FF makes a mess of it. -->
                                <button class="download-photo-btn"><a href="unknown-url" download="unknown-file-name">Download this!</a></button>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <img class="photo-content" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Relationships Read Screen -->
    <div id="relationships-read-screen" class="container-fluid user-screen relationships">
        <div class="row">
            <div class="side-nav col-xs-1 col-xs-offset-0 col-sm-2 col-sm-offset-1">
                <button id="nav-relationship-write-btn" class="fa fa-pencil fa-3x btn-circular"></button>
            </div>
        </div>
        <div class="row">
            <div class="inner-wrapper col-xs-9 col-xs-offset-2">
                <div class="selector-container">
                    <span class="species-selector-container editable">SPECIES SELECTOR GOES HERE</span>
                </div>
                <ul class="row relationships-list">
                    <!-- gets filled by the readView -->
                </ul>
            </div>
        </div>
    </div>

    <!-- Relationships Write Screen -->
    <div id="relationships-write-screen" class="container-fluid user-screen relationships">
        <div class="row">
            <div class="side-nav col-xs-1 col-xs-offset-0  col-sm-2 col-sm-offset-1">
                <button class="nav-relationship-read-btn fa fa-arrow-left fa-3x btn-circular"></button>
            </div>
            <div class="inner-wrapper col-xs-9 col-xs-offset-2">
                <div class="selector-container">
                    <span class="species-selector-container editable">SPECIES SELECTOR GOES HERE</span>
                </div>
                <textarea id="relationship-title-input" class="input-field editable" name="title" placeholder="Untitled Note"></textarea>
                <div id="relationship-body-container">
                    <textarea id="relationship-body-input" class="input-field editable" name="body"></textarea>
                </div>

                <div id="relationship-media-container"></div>

                <div id="relationship-btn-container" class="editable">
                    <div class="photo-wrapper">
                       <label for="relationship-photo-file" class="upload-icon camera-icon-label"><img src="img/camera-icon.png" class="upload-icon camera-icon img-responsive" alt="camera icon" /></label>
                       <input id="relationship-photo-file" class="upload-icon" type="file" name="file" accept=".jpg,.gif,.jpeg,.png,.mp4,.m4v,.mov" />
                       <i id="relatioship-photo-upload-spinner" class="fa fa-spinner fa-pulse hidden"></i>
                    </div>
                    <button class="publish-relationship-btn btn-circular fa fa-check fa-3x pull-right"></button>
                </div>
            </div>
        </div>

        <div id="relationship-photo-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="true">
            <div class="table">
                <div class="table-cell">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- NB: not supported by Safari or IE. And FF makes a mess of it. -->
                                <button class="download-photo-btn"><a href="unknown-url" download="unknown-file-name">Download this!</a></button>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <img class="photo-content" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Chi-Test Screen -->
    <div id="chi-test-screen" class="container-fluid user-screen">
        <iframe src="http://ltg.evl.uic.edu:57880/wallcology/default/runs/wallcology-population-history/index.html?broker=ltg.evl.uic.edu&app_id=wallcology&run_id=default"></iframe>
    </div>







    <!-- Proposal Screen -->
    <div id="proposal-screen" class="container-fluid user-screen proposal">
        <div class="row">
            <div class="side-nav col-xs-1 col-xs-offset-0 col-sm-2 col-sm-offset-1">
                <button class="nav-splash-btn fa fa-arrow-left fa-3x btn-circular"></button>
            </div>
            <div class="inner-wrapper col-xs-9 col-xs-offset-2">
                <h2>Write your project proposal</h2>
                <textarea name="name" placeholder="Project title"></textarea>
                <h3>What is (are) your main research questions?</h3>
                <textarea data-nested="proposal" name="research_question" placeholder="1."></textarea>
                <h3>What would you need to know in order to answer your research question(s)?</h3>
                <textarea data-nested="proposal" name="need_to_knows" placeholder="1."></textarea>
                <button id="publish-proposal-btn" class="btn-circular fa fa-check fa-3x pull-right"></button>
            </div>
        </div>
    </div>


    <!-- New Project Screen -->
    <div id="new-project-screen" class="container-fluid user-screen">
        <div id="new-project-student-picker" class="row">
            <div class="inner-wrapper col-xs-10 col-xs-offset-1">
                <h2>Select the names of all students who will work on this project</h2>
                <div class="project-partner-holder">
                    <!-- populated by the view -->
                </div>
                <button id="submit-partners-btn" class="btn btn-base btn-default">Choose these partners</button>
            </div>
        </div>
        <div id="new-project-theme-picker" class="row hidden">
            <div class="inner-wrapper col-xs-9 col-xs-offset-2">
                <h2>Select the one theme that best fits your topic</h2>
                <div class="project-theme-holder">
                    <!-- populated by the view -->
                </div>
            </div>
        </div>
    </div>

    <!-- Project Media Screen -->
    <div id="project-media-screen" class="container-fluid user-screen project">
        <div class="row">
            <div class="side-nav col-xs-1 col-xs-offset-0 col-sm-2 col-sm-offset-1">
                <button class="nav-read-btn fa fa-arrow-left fa-3x btn-circular"></button>
            </div>
            <div class="inner-wrapper col-xs-9 col-xs-offset-2">
                <div id="note-media-upload-container">
                    <div class="photo-wrapper">
                       <label for="photo-file" class="camera-icon-label"><img src="img/camera-icon.png" class="camera-icon img-responsive" alt="camera icon" /></label>
                       <input id="photo-file" type="file" name="file" accept=".jpg,.gif,.jpeg,.png,.mp4,.m4v,.mov" />
                       <!-- this is shown while the file is being uploaded, needs to be styled to sit on top -->
                       <i id="photo-upload-spinner" class="fa fa-spinner fa-pulse hidden"></i>
                       <!-- <img id="photo-upload-spinner" class="hidden" src="img/loading.gif" alt="photo upload spinner" /> -->
                       <!-- <button id="play-video-btn" class="fa fa-play-circle fa-3x btn-circular"></button> -->
                    </div>
                    <div class="self-photo-query">
                        <h3>Is this a drawing, model, or other form of representation that you constructed yourself?</h3>
                        <button id="self-originator-btn" class="originator-btn btn btn-base btn-default" data-originator="self">Yes</button>
                        <button id="others-originator-btn" class="originator-btn btn btn-base btn-default" data-originator="other">No</button>
                    </div>
                </div>
                <button class="publish-note-btn btn-circular fa fa-check fa-3x pull-right"></button>
                <!-- <button class="cancel-note-btn btn-circular fa fa-times fa-3x pull-right"></button> -->
            </div>
        </div>
    </div>


    <!-- Project New Poster Screen -->
    <div id="project-new-poster-screen" class="container-fluid user-screen project">
        <div class="row">
            <div class="inner-wrapper col-xs-9 col-xs-offset-2">
                <div>
                    <h2>Give your poster a title</h2>
                    <textarea name="poster_title" placeholder="Untitled poster"></textarea>
                </div>
                <div id="new-poster-theme-picker">
                    <h2>Select all themes that relate to your topic</h2>
                    <div class="new-poster-theme-holder">
                        <!-- populated by the view -->
                    </div>
                </div>
                <button class="create-poster-btn btn-circular fa fa-check fa-3x pull-right"></button>
            </div>
        </div>
    </div>


    <!-- ReviewOverview Screen -->
    <div id="review-overview-screen" class="container-fluid user-screen review">
        <div class="row">
            <div class="inner-wrapper col-xs-8 col-xs-offset-2">
                <!-- Filled by ReviewsView and ReviewView -->
            </div>
        </div>
    </div>

    <!-- ReviewDetails Screen -->
    <div id="review-details-screen" class="container-fluid user-screen review">

    </div>


    <!-- Modals -->

    <!-- Login Modal -->
    <div id="login-picker" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="login-picker" aria-hidden="true">
        <div class="table">
            <div class="table-cell">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
                        <h3>Please log in</h3>
                        </div>
                        <div class="modal-body login-buttons">
                        <!-- filled by javascript with buttons for user login -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="project-picker" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="login-picker" aria-hidden="true">
        <div class="table">
            <div class="table-cell">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h2>What would you like to do today?</h2>
                        </div>
                        <button class="btn btn-default btn-base" value="new">Start new project</button>
                        <br/>
                        <div class="modal-body projects-holder">
                            <!-- filled by javascript with buttons for user login -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function() {
          // extending jQuery http://stackoverflow.com/questions/31044/is-there-an-exists-function-for-jquery
          jQuery.fn.exists = function(){return this.length>0;}
          Skeletor.Mobile.init();
          jQuery('.note-taking-toggle').hide();
        });
    </script>
</body>
</html>
